* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
  width: 100%;
  height: 500px;
  border: 1px solid gray;
  margin-bottom: 50px;
}

.title {
  position: absolute;
  padding: 10px 8px;
  font-size: 22px;
  font-weight: 900;
}
